<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>headerFooter</key>
            <dict>
                <key>targetBeginTime</key>
                <string>20161010</string>
                <key>targetExpectTime</key>
                <string>20161111</string>
                <key>completeness</key>
                <string>完成度</string>
                <key>targetDetails</key>
                <string>目标详细介绍</string>
                <key>targetHeaderName</key>
                <string>做一个app</string>
                <key>targetHeaderImagePath</key>
                <string>apple.png</string>
            </dict>
            <key>steps</key>
            <array>
                <dict>
                    <key>stepIsComplet</key>
                    <false/>
                    <key>stepDetails</key>
                    <string>步骤简介1</string>
                    <key>setpName</key>
                    <string>步骤名称</string>
                    <key>stepImagePath</key>
                    <string>步骤对应图片路径</string>
                    <key>stepEndTime</key>
                    <string>步骤预计结束时间</string>
                    <key>stepBuildTime</key>
                    <string>步骤开启时间</string>
                    <key>giftPath</key>
                    <array>
                        <string></string>
                    </array>
                    <key>steps</key>
                    <array>
                        <dict>
                            <key>stepIsComplet</key>
                            <false/>
                            <key>stepDetails</key>
                            <string>步骤简介2</string>
                            <key>setpName</key>
                            <string>步骤名称</string>
                            <key>stepImagePath</key>
                            <string>步骤对应图片路径</string>
                            <key>stepEndTime</key>
                            <string>步骤预计结束时间</string>
                            <key>stepBuildTime</key>
                            <string>步骤开启时间</string>
                            <key>giftPath</key>
                            <array>
                                <string></string>
                            </array>
                            <key>steps</key>
                            <array/>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>stepIsComplet</key>
                    <false/>
                    <key>stepDetails</key>
                    <string>步骤简介1</string>
                    <key>setpName</key>
                    <string>步骤名称</string>
                    <key>stepImagePath</key>
                    <string>步骤对应图片路径</string>
                    <key>stepEndTime</key>
                    <string>步骤预计结束时间</string>
                    <key>stepBuildTime</key>
                    <string>步骤开启时间</string>
                    <key>giftPath</key>
                    <array>
                        <string></string>
                    </array>
                    <key>steps</key>
                    <array>
                        <dict>
                            <key>stepIsComplet</key>
                            <false/>
                            <key>stepDetails</key>
                            <string>步骤简介1</string>
                            <key>setpName</key>
                            <string>步骤名称</string>
                            <key>stepImagePath</key>
                            <string>步骤对应图片路径</string>
                            <key>stepEndTime</key>
                            <string>步骤预计结束时间</string>
                            <key>stepBuildTime</key>
                            <string>步骤开启时间</string>
                            <key>giftPath</key>
                            <array>
                                <string></string>
                            </array>
                            <key>steps</key>
                            <array>
                                <dict>
                                    <key>stepIsComplet</key>
                                    <false/>
                                    <key>stepDetails</key>
                                    <string>步骤简介1</string>
                                    <key>setpName</key>
                                    <string>步骤名称</string>
                                    <key>stepImagePath</key>
                                    <string>步骤对应图片路径</string>
                                    <key>stepEndTime</key>
                                    <string>步骤预计结束时间</string>
                                    <key>stepBuildTime</key>
                                    <string>步骤开启时间</string>
                                    <key>giftPath</key>
                                    <array>
                                        <string></string>
                                    </array>
                                    <key>steps</key>
                                    <array>
                                        <dict>
                                            <key>stepIsComplet</key>
                                            <false/>
                                            <key>stepDetails</key>
                                            <string>步骤简介2</string>
                                            <key>setpName</key>
                                            <string>步骤名称</string>
                                            <key>stepImagePath</key>
                                            <string>步骤对应图片路径</string>
                                            <key>stepEndTime</key>
                                            <string>步骤预计结束时间</string>
                                            <key>stepBuildTime</key>
                                            <string>步骤开启时间</string>
                                            <key>giftPath</key>
                                            <array>
                                                <string></string>
                                            </array>
                                            <key>steps</key>
                                            <array/>
                                        </dict>
                                    </array>
                                </dict>
                                <dict>
                                    <key>stepIsComplet</key>
                                    <false/>
                                    <key>stepDetails</key>
                                    <string>步骤简介2</string>
                                    <key>setpName</key>
                                    <string>步骤名称</string>
                                    <key>stepImagePath</key>
                                    <string>步骤对应图片路径</string>
                                    <key>stepEndTime</key>
                                    <string>步骤预计结束时间</string>
                                    <key>stepBuildTime</key>
                                    <string>步骤开启时间</string>
                                    <key>giftPath</key>
                                    <array>
                                        <string></string>
                                    </array>
                                    <key>steps</key>
                                    <array/>
                                </dict>
                            </array>
                        </dict>
                        <dict>
                            <key>stepIsComplet</key>
                            <false/>
                            <key>stepDetails</key>
                            <string>步骤简介2</string>
                            <key>setpName</key>
                            <string>步骤名称</string>
                            <key>stepImagePath</key>
                            <string>步骤对应图片路径</string>
                            <key>stepEndTime</key>
                            <string>步骤预计结束时间</string>
                            <key>stepBuildTime</key>
                            <string>步骤开启时间</string>
                            <key>giftPath</key>
                            <array>
                                <string></string>
                            </array>
                            <key>steps</key>
                            <array/>
                        </dict>
                    </array>
                </dict>
            </array>
            <key>gifts</key>
            <array>
                <dict>
                    <key>giftName</key>
                    <string>iphone7</string>
                    <key>giftImage</key>
                    <string>gift.png</string>
                    <key>giftUrl</key>
                    <dict>
                        <key>taoBao</key>
                        <string></string>
                        <key>jingDong</key>
                        <string></string>
                    </dict>
                    <key>setpPath</key>
                    <array>
                        <integer>0</integer>
                    </array>
                </dict>
                <dict>
                    <key>giftName</key>
                    <string>iphone7</string>
                    <key>giftImage</key>
                    <string>gift.png</string>
                    <key>giftUrl</key>
                    <dict>
                        <key>taoBao</key>
                        <string></string>
                        <key>jingDong</key>
                        <string></string>
                    </dict>
                    <key>setpPath</key>
                    <array>
                        <integer>0</integer>
                    </array>
                </dict>
            </array>
        </dict>
    </array>
</plist>
