<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>targetHeaderImagePath</key>
			<string>apple.png</string>
			<key>targetHeaderName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>step</key>
			<array>
				<dict>
					<key>setpName</key>
					<string></string>
					<key>stepImage</key>
					<string></string>
					<key>stepEndTime</key>
					<string></string>
					<key>stepBuildTime</key>
					<string></string>
					<key>giftPath</key>
					<integer>0</integer>
					<key>step</key>
					<array>
						<dict/>
					</array>
				</dict>
			</array>
			<key>targetDetails</key>
			<array>
				<string>这个软件是关于一个目标实现的软件</string>
				<string>实现了就可以获得自己设定的某个奖励</string>
				<string>按时间完成 可以跟商家协商给一点优惠</string>
				<string>保存多个商城的商品 关注价格走势</string>
			</array>
			<key>targetImagePath</key>
			<string>apple.png</string>
			<key>targetName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>gifts</key>
			<array>
				<dict>
					<key>giftName</key>
					<string>iphone7</string>
					<key>giftImage</key>
					<string>gift.png</string>
					<key>giftUrl</key>
					<dict>
						<key>taoBao</key>
						<string></string>
						<key>jingDong</key>
						<string></string>
					</dict>
					<key>setpPath</key>
					<array>
						<integer>0</integer>
					</array>
				</dict>
			</array>
			<key>giftName</key>
			<string>苹果手机</string>
			<key>whereGift</key>
			<string>https://item.jd.com/3133827.html#none</string>
			<key>giftImagePath</key>
			<string>gift.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>targetHeaderImagePath</key>
			<string>apple.png</string>
			<key>targetHeaderName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>targetDetails</key>
			<array>
				<string>这个软件是关于一个目标实现的软件</string>
				<string>实现了就可以获得自己设定的某个奖励</string>
				<string>按时间完成 可以跟商家协商给一点优惠</string>
				<string>保存多个商城的商品 关注价格走势</string>
			</array>
			<key>targetImagePath</key>
			<string>apple.png</string>
			<key>targetName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>giftName</key>
			<string>苹果手机</string>
			<key>whereGift</key>
			<string>https://item.jd.com/3133827.html#none</string>
			<key>giftImagePath</key>
			<string>gift.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>targetHeaderImagePath</key>
			<string>apple.png</string>
			<key>targetHeaderName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>targetDetails</key>
			<array>
				<string>这个软件是关于一个目标实现的软件</string>
				<string>实现了就可以获得自己设定的某个奖励</string>
				<string>按时间完成 可以跟商家协商给一点优惠</string>
				<string>保存多个商城的商品 关注价格走势</string>
			</array>
			<key>targetImagePath</key>
			<string>apple.png</string>
			<key>targetName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>giftName</key>
			<string>苹果手机</string>
			<key>whereGift</key>
			<string>https://item.jd.com/3133827.html#none</string>
			<key>giftImagePath</key>
			<string>gift.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>targetHeaderImagePath</key>
			<string>apple.png</string>
			<key>targetHeaderName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>targetDetails</key>
			<array>
				<string>这个软件是关于一个目标实现的软件</string>
				<string>实现了就可以获得自己设定的某个奖励</string>
				<string>按时间完成 可以跟商家协商给一点优惠</string>
				<string>保存多个商城的商品 关注价格走势</string>
			</array>
			<key>targetImagePath</key>
			<string>apple.png</string>
			<key>targetName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>giftName</key>
			<string>苹果手机</string>
			<key>whereGift</key>
			<string>https://item.jd.com/3133827.html#none</string>
			<key>giftImagePath</key>
			<string>gift.png</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>targetHeaderImagePath</key>
			<string>apple.png</string>
			<key>targetHeaderName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>targetDetails</key>
			<array>
				<string>这个软件是关于一个目标实现的软件</string>
				<string>实现了就可以获得自己设定的某个奖励</string>
				<string>按时间完成 可以跟商家协商给一点优惠</string>
				<string>保存多个商城的商品 关注价格走势</string>
			</array>
			<key>targetImagePath</key>
			<string>apple.png</string>
			<key>targetName</key>
			<string>做一个app</string>
		</dict>
		<dict>
			<key>giftName</key>
			<string>苹果手机</string>
			<key>whereGift</key>
			<string>https://item.jd.com/3133827.html#none</string>
			<key>giftImagePath</key>
			<string>gift.png</string>
		</dict>
	</array>
</array>
</plist>
